{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Iniciar Sesión</h2>
    <form method="post" action="{% url 'iniciar_sesion' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li class="alert alert-danger">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
